.container {
  width: 100%;
  font-size: 25px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
}
.container div{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.container div img{
  width: 200px;
}
.container button{
  margin: 10px;
  font-size: 20px;
}